.button {
  width: 300px; /* Ширина кнопки */
  height: 200px; /* Высота кнопки */
  background: none; /* Убираем фон кнопки */
  border: none; /* Убираем обводку кнопки */
  padding: 0; /* Убираем отступы */
  cursor: pointer; /* Изменяем курсор на указатель */
  position: relative; /* Позволяет позиционировать элементы внутри кнопки */
}

.image {
  width: 100%; /* Ширина изображения 100% от кнопки */
  height: 100%; /* Высота изображения 100% от кнопки */
  border-radius: 8px; /* Скругление углов */
}

.container {
  display: flex; /* Размечаем элементы по горизонтали */
  flex-wrap: wrap; /* Позволяет переносить элементы на следующую строку при нехватке места */
  justify-content: center; /* Центрируем элементы */
}
